<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eidalqatami">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MakeupActivity"></activity>
        <activity android:name=".MensPerfumesActivity" />
        <activity android:name=".Womens_FragranceActivity" />
        <activity android:name=".NewPerfumeArrivalsActivity" />
        <activity android:name=".NewUserFreeGiftsActivity" />
        <activity android:name=".GrabDollarsActivity" />
        <activity android:name=".PlusSizeActivity" />
        <activity android:name=".FlashActivity" />
        <activity android:name=".NewArrivalsActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".BottomActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>